/***************** Menu component ********************/
.menu-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.menu-items ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vh;
  padding-left: 0px;
}

.menu-items ul li {
  display: block;
  font-size: 60px;
  color: bisque;
  line-height: 1.3;
  text-align: center;
}

/***************** Menu-Icon-x ********************/

.menu-icon-x {
  display: inline-block;
  padding: 20px;
}

.mob-menu1-x,
.mob-menu3-x {
  width: 40px;
  height: 3px;
  background-color: bisque;
  /* margin: 6px; */
}

.mob-menu1-x {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-10px, 6px);
}

.mob-menu3-x {
  -webkit-transform: rotate(45deg) translate(-9px, 6px);
  transform: rotate(45deg) translate(4px, 8px);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
